<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
		<!-- Panda Security Installation description  -->
	<Product Id="30ce4de1-b236-4036-8e48-6ad4f944db9c" Name="Panda Security 3C" Language="1033" Version="1.0.0.0" Manufacturer="Global Tiger Solutions" UpgradeCode="a980248d-6d3c-48aa-a060-7971d493ff41">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PandaSecurityPackaging" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Panda Security Installer">
					<!-- Allfiles with ddl wil be here  -->
						<Directory Id="Files" Name=".temp">
							<Component Id="Files" Guid="146ed454-7397-4b02-a937-7a29b24c0915"
							 SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
								<CreateFolder/>
							</Component>

							<!-- Directory of the installer and uninstaller  -->
							<Directory Id="Exec" Name=".exec">
								<Component Id="Exec" Guid="fbd021c6-3c31-4808-afac-1c7cdbb9d814"
									 SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
								<CreateFolder/>
							</Component>
							</Directory>
						</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="Files" Title=".temp" Level="1">
			<ComponentRef Id="Files"/>
		</Feature>
		<Feature Id="Exec" Title=".exec" Level="1">
			<ComponentRef Id="Exec"/>
		</Feature>
	</Fragment>

	<!-- Including the files of installer and uninstaller -->
	<Fragment>
	 <DirectoryRef Id="Exec">
	 <!-- installer of panda -->
            <Component Id="installer.exe" Guid="287c7f09-75b8-49db-b16e-87716b427ad9">
                <File Id="PANDADA.exe" Source="../PandaSecurity3C/file/PANDADA.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
			<!-- generic uninstaller of panda  -->
            <Component Id="uninstaller.exe" Guid="b79e1b03-684c-4ccf-a7b9-377176a490b1">
                <File Id="uninstaller.exe" Source="../PandaSecurity3C/file/uninstaller.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
	</Fragment>

	<!-- Including file in the .temp folder  -->
	<Fragment>
		<DirectoryRef Id="Files">
			 <Component Id="One" Guid="bd02795e-8fc1-4d71-97e4-50e2b65139f5">
                <File Id="Microsoft.Win32.TaskScheduler.dll" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

			<Component Id="Two" Guid="f310684d-86b3-4a0f-9b2c-fe5195379760">
                <File Id="PandaSecurity3C.deps.json" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.deps.json" KeyPath="yes" Checksum="yes"/>
            </Component>

			<Component Id="Three" Guid="98286b94-73a9-4beb-a2d3-c01acf8fb95d">
                <File Id="PandaSecurity3C.dll" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

			<!-- <Component Id="Four" Guid="36c43248-bb86-42bd-ab99-4e6ec6a076cc">
                <File Id="PandaSecurity3C.exe" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.exe" KeyPath="yes" Checksum="yes"/>
            </Component> -->

			<Component Id="Five" Guid="886f827b-0bc9-4e3c-aec4-ed779331aafe">
                <File Id="PandaSecurity3C.pdb" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.pdb" KeyPath="yes" Checksum="yes"/>
            </Component>

			<Component Id="Six" Guid="2d011c86-d356-47c8-b71b-12b1b9abd563">
                <File Id="PandaSecurity3C.runtimeconfig.dev.json" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.runtimeconfig.dev.json" KeyPath="yes" Checksum="yes"/>
            </Component>

			<Component Id="Seven" Guid="d69e0798-ffba-4dc5-8997-64bbaa541c3e">
                <File Id="PandaSecurity3C.runtimeconfig.json" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.runtimeconfig.json" KeyPath="yes" Checksum="yes"/>
            </Component>

			<Component Id="Eight" Guid="82f1cd97-2623-4fb3-a2e2-b71369d4f4e9">
                <File Id="System.Diagnostics.EventLog.dll" Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/System.Diagnostics.EventLog.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


		</DirectoryRef>
	</Fragment>


	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			    <Component Id="ProductComponent">
						<File Source="../PandaSecurity3C/bin/Release/netcoreapp3.1/PandaSecurity3C.exe" />
					</Component>

 				<ComponentRef Id="installer.exe" />
 				<ComponentRef Id="uninstaller.exe" />

				 	<ComponentRef Id="One" />
 				<ComponentRef Id="Two" />
				 	<ComponentRef Id="Three" />
 				<!-- <ComponentRef Id="Four" /> -->
				 	<ComponentRef Id="Five" />
 				<ComponentRef Id="Six" />
				 	<ComponentRef Id="Seven" />
 				<ComponentRef Id="Eight" />

		</ComponentGroup>
	</Fragment>
</Wix>
