<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
		<!-- Panda Security Installation description  -->
	<Product Id="30ce4de1-b236-4036-8e48-6ad4f944db9c" Name="Panda Security 3C" Language="1033" Version="1.0.0.0" Manufacturer="Global Tiger Solutions" UpgradeCode="a980248d-6d3c-48aa-a060-7971d493ff41">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate
			 EmbedCab="yes"
			/>

		<Feature Id="ProductFeature" Title="PandaSecurityPackaging" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents"/>
		</Feature>

		<!--<Binary Id='CustomAction.CA' SourceFile='..\PandaSecurity3C\bin\Release\netcoreapp3.1\win-x86\publish\PandaSecurity3C.exe' />-->
		
		<!--UI component of the installation--> 
		<UI>
			<UIRef Id="WixUI_Minimal" />
			<Publish Dialog="ExitDialog"
				Control="Finish"
				Event="DoAction"
				Value="LaunchExe">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Panda Security 3c" />

		<!--Execute the panda security when its installed in the computer already--> 
		<Property Id="WixShellExecTarget" Value='[INSTALLFOLDER]PandaSecurity3C.exe' />
		<CustomAction
		  Id        ="LaunchExe"
		 BinaryKey  ="WixCA"
		 DllEntry   ="WixShellExec"
		  Impersonate="yes"
                    />

		<!-- ExeCommand ='[SystemFolder]cmd.exe /c &quot;cd C:\Program Files (x86)\Panda Security Installer &amp; PandaSecurity3C.exe &amp; exit&quot;'
-->
		
		<!--<InstallExecuteSequence>
			<Custom Action="LaunchExe" After="InstallFiles" />
		</InstallExecuteSequence>-->

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Panda Security Installer" FileSource="..\PandaSecurity3C\bin\Release\netcoreapp3.1\win-x86\publish">

				
					<!-- Allfiles with ddl wil be here  -->
						<Directory Id="Files" Name=".temp">
							<Component Id="Files" Guid="146ed454-7397-4b02-a937-7a29b24c0915"
							 SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
								<CreateFolder/>
							</Component>

							<!-- Directory of the installer and uninstaller  -->
							<Directory Id="Exec" Name=".exec">
								<Component Id="Exec" Guid="fbd021c6-3c31-4808-afac-1c7cdbb9d814"
									 SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
								<CreateFolder/>
							</Component>
							</Directory>
							
							
						</Directory>
					
				</Directory>
			</Directory>
		</Directory>

			<!--Feature component where publish files will go-->
		<Feature Id="Files" Title=".temp" Level="1">
			<ComponentRef Id="Files"/>
		</Feature>
		
		<!--The 2 consecutive files needed-->
		<Feature Id="Exec" Title=".exec" Level="1">
			<ComponentRef Id="Exec"/>
		</Feature>
	</Fragment>

	<!-- Including the files of installer and uninstaller -->
	<Fragment>
	 <DirectoryRef Id="Exec">
	 <!-- installer of panda -->
            <Component Id="installer.exe" Guid="287c7f09-75b8-49db-b16e-87716b427ad9">
                <File Id="PANDADA.exe" Source="..\PandaSecurity3C\file\PANDADA.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
			<!-- generic uninstaller of panda  -->
            <Component Id="uninstaller.exe" Guid="b79e1b03-684c-4ccf-a7b9-377176a490b1">
                <File Id="uninstaller.exe" Source="..\PandaSecurity3C\file\uninstaller.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
	</Fragment>

	<!-- Including file in the .temp folder, Files in the publish folder  -->
	<Fragment>
		<DirectoryRef Id="Files">
			 <Component Id="One" Guid="bd02795e-8fc1-4d71-97e4-50e2b65139f5">
                <File Id="Microsoft.Win32.TaskScheduler.dll" Source="..\PandaSecurity3C\bin\Release\netcoreapp3.1\win-x86\publish\Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			
			<!-- Get where the installer is  -->
 				<ComponentRef Id="installer.exe" />
			<!-- Get where the uninstaller is  -->
 				<ComponentRef Id="uninstaller.exe" />

				 <ComponentRef Id="One" />
				 <!--<ComponentRef Id="TargetProgram" />-->

		</ComponentGroup>
		
	</Fragment>

</Wix>
